<h1>Insert New AirBnB Listing</h1>

<form action="/airbnb/view/new" method="POST">
  <label>Name:</label>
  <input type="text" name="name" required><br>

  <label>Price:</label>
  <input type="number" name="price" required><br>

  <label>Bedrooms:</label>
  <input type="number" name="bedrooms"><br>

  <button type="submit">Insert</button>
</form>
